.no-chats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    padding: 10px;
}

.no-chats p {
    font-size: 1rem;
    color: darkgray;
}

.no-chats button {
    outline: 0;
    border: 0;
    color: #fff;
    background-color: #3380fc;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
}

.friends-nav {
    background-color: #282a37;
    position: relative;
    overflow: hidden;
    height: calc(100vh - 40px);
    flex-direction: column;
}

.friends-nav .heading {
    display: flex;
    justify-content: space-between;
    position: relative;
    animation: .5s ease-out 0s 1 slideInFromLeft;
}

.search-field {
    display: flex;
    justify-content: flex-end;
}

.search-field button {
    position: absolute;
    top: -5px;
    right: 5px;
    margin: 0;
}

.search-field .friendSearch {
    right: 35px;
}

.find-friend-heading .findFriend,
.heading .findFriend {
    background: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    color: #fff;
    top: -5px;
    border: 0;
    outline: 0;
}

.notification-badge {
    position: absolute;
    width: 7px;
    height: 7px;
    top: 8px;
    right: 1px;
    background-color: red;
    border-radius: 50%;
}

.find-friend-heading {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.find-friend-div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background: linear-gradient(360deg, #232531, #181820);
    border-radius: 20px;
    padding: 20px;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
}

.find-friend-input {
    position: relative;
    margin-top: 10px;
}

.find-friend-input input {
    outline: 0;
    border: 1px solid #01acfc;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-size: .9rem;
    padding: 10px;
    padding-left: 15px;
    padding-right: 40px;
    color: #fff;
    background-color: #282a37;
}

.find-friend-input button {
    position: absolute;
    border: 0;
    outline: 0;
    background: transparent;
    right: 10px;
    color: #01acfc;
    font-size: 1.4rem;
}

.find-friends-body {
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
}

.find-friends-body-title {
    margin-top: 10px;
}

.find-friends-body::-webkit-scrollbar {
    display: none;
}

.find-friends-body-title .card {
    background-color: #282a37;
    font-size: 1rem;
    padding: 0 10px;
    border-radius: 10px;
}

.find-friends-body-title .card .friends-card {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    padding-left: 5px;
}

.find-friends-body-title .card .friends-card img {
    border-radius: 50%;
}

.friends-card .name-conatiner {
    flex-grow: 1;
}

.friends-card .cancel-req {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 1rem;
    color: red;
    transition: .5s;
}

.friends-card .cancel-req:hover {
    font-size: 1.3rem;
}

.friends-card .frnd-card-lg-btn {
    outline: 0;
    border: 0;
    padding: 5px 10px;
    font-size: .8rem;
    border-radius: 20px;
    background-color: #3380fc;
    color: #fff;
    font-weight: 600;
}

.friends-card .add-req {
    position: relative;
    width: 40px;
}

.friends-card .add-req .send-req {
    margin: 0;
    outline: 0;
    border: 0;
    background-color: #3380fc;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
}
.friends-card .add-req .send-req .FaUserPlus {
    position: absolute;
    font-size: 1.1rem;
    top: 11px;
    right: .6rem;
}
.friends-card .FaUserCheck {
    color: #01acfc;
    font-size: 1.3rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.friends-card .frnd-card-lg-btn:hover,
.add-req .send-req:hover {
    background-color: #1a91ff;
}

.search-field input {
    position: absolute;
    transition: 0.5s ease-in-out;
    background-color: #282a37;
    color: #fff;
    height: 40px;
    font-size: 1rem;
    padding: 0;
    outline: 0;
    border-radius: 10px;
}

.search-field .searchInput {
    right: 30px;
}

.search-field input:focus {
    padding-left: 15px;
}

.friends-nav h4 {
    color: #fff;
    font-weight: 400;
}

.friends-nav div {
    color: #fff;
    font-size: 1.5rem;
}

.frnd-card {
    background-color: #3e404d;
    border-radius: 15px;
}

.frnd-card:hover {
    background-color: #01acfc;
}

.frnd-card.active {
    background-color: #01acfc;
}

.frnd-card img {
    border-radius: 50%;
    border: 2px solid #1a91ff;
}

.name-conatiner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.name-conatiner h6,
small {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.name-conatiner small {
    font-size: .8rem;
}

/* //////////\\\\\\\\\\\ */

.skeleton_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: skeleton-loading 1s linear infinite alternate;
}

.name-holder {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.fullname_skeleton {
    width: 90%;
    height: 10px;
    border-radius: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-bottom: 5px;
}

.username_skeleton {
    width: 70%;
    height: 8px;
    border-radius: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
}

.add-friend_skeleton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(180, 2%, 24%);
    }

    100% {
        background-color: hsl(240, 1%, 39%);
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .search-field input {
        margin-top: -5px;
    }
}